# -------------------------------------- config

# alarm if disck space or inode space reach 75%
DISKLIMIT=75

# number of badsectors to trigger alarm
BADSECTORLIMIT=0

# we don't accept root password on this host
ALLOW_ROOT_PASWORD="NO"

# special partitions that must be mounted
PARTITIONS=("/home" "/home-backup")

# list of file that should be recent (format: file:expiration-in-minutes)
FILE_AGE=("/data/example/myfile.ext:15")

# check presence of files
MANDATORY_FILES=("/data/example")

# mandatory packages on system
MANDATORY_PACKAGES=("openssh-server" "unattended-upgrades")

# package that must not be installed
FORBIDDEN_PACKAGES=()

# systemd services that must be running
MANDATORY_SERVICES=("ssh.service" "script-name@ed.service")

# docker instances that must be running
MANDATORY_DOCKERS=("my-mailer-instance" "roundcube-instance" "vtun-instance" )

MANDATORY_FILES=("/home/mail-data")

# domain name to use to grab farm list (otherwise use HOSTS=() array )
DOMAIN="mydomain.tld"

# list of hosts to test ping, use format `hostname|arp` if you need a local ARP test
# ex: here it will: arping alarm
HOSTS=("tv" "alarm|arp")


# raid disk to mute notification in case of error (* = matchall)
SILENT_RAID=()

# disk to mute notification in case of badsector (* = matchall)
SILENT_BADSECTOR=()

# host mute notification in case of badsector (* = matchall)
SILENT_HOSTDOWN=()

# docker mute notification in case of upgrade needed (* = matchall)
SILENT_DOCKER_NEEDUPGRADE=("*")

# this ssh key must be present in root account
ROOT_KEYS=( 
"ssh-rsa AAAAB.... ed@desktop"
)

# SSL connections to test
SSL_CONNECTIONS=("www.example.com:443")

# warn SSL_PREVENTION_EXPIRATION days before expiration
SSL_PREVENTION_EXPIRATION=30

# check RBL black list (is IP considered as spammer or similar ?)
IP_RBLCHECK=("123.123.123.123")

# monitor github new releases (format: owner/repository:release) 
# (helpful to ensure your are using latest repos)
GITHUB_RELEASES=( 
	"syncthing/syncthing:v1.23.4" 
	"bitwarden/self-host:v2023.4.2" 
	"traefik/traefik:v2.10.1" 
)

# GIHUB cache in days, if cache is use alert will be silent (also a way to avoid flooding you via the webhook)
GITHUB_CACHE_TTL=7

# check different website, useful to verify that a page is correctly protected 
# format: <url-to-check>|<expected-result (AUTHREQUIRED|FORBIDDEN|NOTFOUND|NOTALLOWED|REDIRECT|OK)>|[<expected location>]|[<method (default: GET)>]
HTTP_CHECKS=(
	"https://mydomain.tld/|OK"
	"https://mydomain.tld/|NOTALLOWED||PUT"
	"https://protected.mydomain.tld/|REDIRECT|https://accounts.google.com/o/oauth2"
	"https://private.mydomain.tld/|AUTHREQUIRED|"
)


# here will send a message on your telegram account
WEBHOOK='https://api.telegram.org/bot.....:..../sendMessage?chat_id=.....&text='

