# -------------------------------------- config

# alarm if disck space or inode space reach 75%
DISKLIMIT=75

# number of badsectors to trigger alarm
BADSECTORLIMIT=0

# we don't accept root password on this host
ALLOW_ROOT_PASWORD="NO"

# special partitions that must be mounted
PARTITIONS=("/home" "/home-backup")

# mandatory packages on system
MANDATORY_PACKAGES=("openssh-server" "unattended-upgrades")

# package that must not be installed
FORBIDDEN_PACKAGES=()

# systemd services that must be running
MANDATORY_SERVICES=("ssh.service" "script-name@ed.service")

# docker instances that must be running
MANDATORY_DOCKERS=("my-mailer-instance" "roundcube-instance" "vtun-instance" )

MANDATORY_FILES=("/home/mail-data")

# domain name to use to grab farm list
DOMAIN=""

# raid disk to mute notification in case of error (* = matchall)
SILENT_RAID=()

# disk to mute notification in case of badsector (* = matchall)
SILENT_BADSECTOR=()

# host mute notification in case of badsector (* = matchall)
SILENT_HOSTDOWN=()

# docker mute notification in case of upgrade needed (* = matchall)
SILENT_DOCKER_NEEDUPGRADE=()

# SSL connections to test
SSL_CONNECTIONS=("www.example.com:443")

# warn SSL_PREVENTION_EXPIRATION days before expiration
SSL_PREVENTION_EXPIRATION=30



# this ssh key must be present in root account
ROOT_KEYS=( 
"ssh-rsa AAAAB.... ed@desktop"
)

# here will send a message on your telegram account
WEBHOOK='https://api.telegram.org/bot.....:..../sendMessage?chat_id=.....&text='
