[Unit]
Description=Host started notification
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/host-tools notify-boot

[Install]
WantedBy=network-online.target

